.note {
  position: relative;
  background-color: #feff9e;
  height: 10em;
  width: 10em;
  color: black;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transform: rotate(-6deg);
  z-index: 1;
  transition: all ease 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.note:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background-color: #7afcff;
}
.note:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background-color: #ff7eb9;
}
.note:hover {
  transform: scale(1.5);
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.note__text {
  flex: 1;
}

.note__link {
  display: none;
}
